<form [formGroup]='extrasWeb' class="web-form" style="font-size: 12px;">

    <div class="extra">
        <button mat-flat-button color="warn" (click)='addPagina()'>+</button>
        <mat-form-field class="web-inputs" appearance="fill">
            <mat-label for="paginesForm">Selecciona nº de pagines</mat-label>
            <input matInput type="text" formControlName='paginesForm'>
        </mat-form-field>
        <button mat-flat-button color="warn" (click)='subsPagina()'>-</button>
        <mat-icon color='accent'>info</mat-icon><br>
    </div>

    

    <div class="extra">
        <button mat-flat-button color="warn" (click)='addIdioma()'>+</button>
        <mat-form-field class="web-inputs" appearance="fill">
            <mat-label for="idiomesForm">Selecciona nº de idiomes</mat-label>
            <input matInput type="text" formControlName='idiomesForm'>
        </mat-form-field>
        <button mat-flat-button color="warn" (click)='subsIdioma()'>-</button>
        <mat-icon color='accent'>info</mat-icon>
    </div>




</form>