


<div class="contains">
    <mat-card tabindex="0" class="content">
        
            <mat-card-subtitle>Benvinguda</mat-card-subtitle>
            <mat-card-title>Benvinguts a la App Pressupostos</mat-card-title>
            <img src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" alt="">
        
        
        <mat-card-content>
            <P>Aquesta app permet generar presupostos per different serveis</P>
            <P>A mes inclou la possibilitat d'afegir extres als serveis</P>
            </mat-card-content>
    
        <mat-divider></mat-divider>
        <mat-card-actions align="end"><button mat-raised-button color='primary' routerLink='/home'>Endavant</button></mat-card-actions>
    </mat-card>
</div>
